body {
  color: #000;
}

.input-head {
  position: absolute;
  width: 100%;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  outline: none;
  overflow: hidden; /* Ensure content outside the box is hidden */
  z-index: 3;
  background-color: transparent;
}

.input-head input {
  position: relative;
  width: 0; /* Start with width as 0 */
  height: 80%;
  background-color: aliceblue;
  color: black;
  text-align: center;
  border-radius: 20px;

  outline: none;
  border-color: green;
  animation: slideFromLeft 1s forwards;
  background-color: transparent;
  backdrop-filter: blur(3px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.input-head input:hover {
  backdrop-filter: blur(10px); /* Increase blur on hover */
}

@keyframes slideFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 60%; /* Slide to 60% width */
  }
}
@keyframes opacityforsearch {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.inner-search {
  animation: opacityforsearch 3s ease-in-out;
  position: absolute;
  right: 20%;
}

.three-line {
  color: black;
  display: none;
}

.boldtext {
  font-weight: bold;
}

.dropdown-content {
  width: 100%;
}

.swiper-container {
  color: #000;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-h2 h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  font-family: "Courier New", Courier, monospace;
}

.btn-cart {
  display: flex;
  /* for center div from height and width */
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  border: 2px solid green;
  background-color: #50b033;
}

.btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  visibility: visible;
  transition: 0.2s linear;

  opacity: 1;
  top: 105%;
}

.icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: 0.2s linear;
}

.icon-cart path {
  /* fill: #50b033; */
  fill: white;

  transition: 0.2s linear;
}

.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}

.btn-cart:hover > .icon-cart path {
  fill: yellow;
}

.btn-cart:hover {
  box-shadow: rgba(218, 226, 218, 0.5) 0px 14px 28px,
    rgba(200, 208, 200, 0.4) 0px 10px 10px;
}

.floting-container {
  position: fixed;
  z-index: 10;
  top: 60%;
  right: 10px;
  /* display: flex; */
}

.cart-container {
  height: 100%;
  width: 30%;
  background-color: #000;
  position: fixed;
  z-index: 300;
  top: 0%;
  right: 10px;
}

.cart-basket {
  display: flex;

  align-items: center;
  justify-content: center;
}

.btn-cart1 {
  margin: 0px 20px 10px 20px;
}

.floting-cart-item {
  display: flex;
}

.copyright {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.ads-container {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  height: 320px;
  margin-top: 5%;
}
.ads-chaild {
  width: 25%;
  display: flex;
  justify-content: center;
}

.ads-delivery {
  display: flex;
  justify-content: center;
}
.add-img {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  transition: transform 1s;
}

.add-img:hover {
  transform: scale(1.2);
}

.ads-card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.ads-icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  /* background: linear-gradient(90deg, #7eaaff 0%, #ff48fb 40%, rgba(0, 0, 0, 0.28) 60%); */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.ads-icon img {
  fill: white;
}

.ads-card .ads-title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.ads-card .ads-text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: black;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.ads-card:hover {
  height: 270px;
}

.ads-card:hover .ads-text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.ads-card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.ads-card:hover .ads-icon img {
  fill: url("#gradientColor");
  transition: all 0.3s ease;
}

.swiper-htext {
  position: relative;
  text-align: center;
  bottom: 100px;
  visibility: hidden;
}

.swiper-htext Button {
  background-color: green;
}

.swiper-slide:hover .swiper-htext {
  visibility: visible;
  animation: slideFromBottom 0.5s forwards;
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardslider-half {
  width: 100%;
  height: 50%;
  margin: 5px 10px 0px 10px;
}

.cardslider-half img {
  object-fit: cover;
}

.cardslider-card {
  --bg-card: #27272a;
  --primary: #6d28d9;
  --primary-800: #4c1d95;
  --primary-shadow: #2e1065;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1rem;
  width: 14rem;
  /* background-color: var(--bg-card); */
  background-color: white;
  border-radius: 1rem;
  border: 1px solid green;
}

.cardslider-image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;

  border-radius: 0.5rem;
}

.cardslider-image_container .cardslider-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}

.cardslider-title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.cardslider-size {
  font-size: 0.75rem;
}

.cardslider-list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 0.25rem;
}

.cardslider-list-size .cardslider-item-list {
  list-style: none;
}

.cardslider-list-size .cardslider-item-list-button {
  cursor: pointer;

  padding: 0.5rem;
  background-color: var(--zinc-800);

  font-size: 0.75rem;
  color: var(--light);

  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;

  transition: all 0.3s ease-in-out;
}

.cardslider-item-list-button:hover {
  border: 2px solid var(--light);
}
.cardslider-item-list-button:focus {
  background-color: var(--primary);

  border: 2px solid var(--primary-shadow);

  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.cardslider-action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardslider-price {
  font-size: 1.2rem;
  font-weight: 700;
}

.cardslider-cart-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;

  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.cardslider-cart-button .cardslider-cart-icon {
  width: 1rem;
}

.carousel1-datatop {
  /* z-index: 11; */
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 150px;
}

.carousel1-datatop h1 {
  font-weight: bold;
  font-size: 25px;
}

.carousel1-purchasebtn {
  border-radius: 20px 5px 20px 5px;
  height: 50px;
  width: 200px;
  font-size: 17px;
  background-color: #0ca04e;
  border: none;
  margin: 0 auto;
  margin-top: 5px;
}

.carousel1-datatop1 {
  position: absolute;

  flex-direction: column;
  top: 40%;
  margin-left: 50px;
}

.carousel1-datatop1 h1 {
  font-weight: bold;
  font-size: 30px;
}

.test-main-slider-t {
  padding-top: 10px;
  width: 100%;
  border: 2px solid green;
  border-radius: 3px 25px 3px 25px;
  /* display: flex;
  justify-content: center; */
}

.test-main-slider {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.cardslider-name h2 {
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.cardslider-price-top {
  margin: 20px 0 10px 0;
  display: flex;
  padding: 0 10px 0 10px;
}

.cardslider-price-top > div {
  flex: 1;
}

.cardslider-CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.cardslider-IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.cardslider-icon {
  border-radius: 1px;
}

.cardslider-text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 0.8em;
  font-weight: 600;
}

.cardslider-CartBtn:hover .cardslider-IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.cardslider-CartBtn:hover .cardslider-text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
  color: white;
}

.cardslider-CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
  color: white;
}
